<div class="container">
    <p>Hi <%=link.email%></p>
    <br/>
    <br/>
    <p>Click <a class="btn btn-primary" href="http://localhost:5000/reset/recover/?acessToken=<%=link.acessToken%>" role="button">Here</a>
    to update the password</p>
</div>