<!-- code for footer page -->
<div class="card d-flex flex-column position-fixed fixed-bottom bg-dark text-light">
    <div class="card-body d-flex flex-grow-1">
        <blockquote class="blockquote mb-0 flex-grow-1">
            <p><strong>&#169;</strong> All Rights Reserved</p>
            <footer class="blockquote-footer">Amit <cite title="Source Title">Vishwakarma</cite></footer>
        </blockquote>
    </div>
</div>
