<!-- code for footer page -->
<div class="card d-flex flex-column position-fixed fixed-bottom bg-dark text-light">
    <div class="card-body d-flex flex-grow-1">
        <blockquote class="blockquote mb-0 flex-grow-1">
            <p>A well-known quote, contained in a blockquote element.</p>
            <footer class="blockquote-footer">Someone famous in <cite title="Source Title">Source Title</cite></footer>
        </blockquote>
    </div>
</div>
