<div class="container">
    <h1>Forgot Password</h1>
    <form action="/reset/forgot" method="post">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Email address</label>
            <input type="email" name="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
          </div>
          <div>
            <button type="submit" class="btn btn-secondary">Submit</button>
          </div>          
    </form>
</div>