<div class="container">
    <h1>Sign In</h1>

    <form action="/user/create-session" method="post">
            <div class="form-floating mb-3">
                <input type="email" class="form-control" name="email" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control" id="floatingPassword" name="password" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>
            <a href="/user/sign-up">Sign Up</a><br/>
            <br/>
            <div>
                <button type="submit" class="btn btn-primary">Sign In</button>
            </div>
            
    </form>
</div>